/* ===== HEADER WRAPPER ===== */
body.light .header {
    background-color: #ffffff;
    color: #000000;
}

body.dark .header {
    background-color: #1e1e1e;
    color: #ffffff;
}

/* ===== HEADER LAYOUT ===== */
.header {
    height: 80px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* ===== LOGO ===== */
.header__logo img {
    height: 32px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

/* ===== NAV ===== */
.header__nav {
    display: flex;
    gap: 40px;
}

.header__nav a {
    text-decoration: none;
    font-weight: 500;
    color: inherit;

}

/* ===== ICONS ===== */
.header__icons {
    display: flex;
    gap: 24px;
    font-size: 18px;
    cursor: pointer;
    color: inherit;

}