.login-page {
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
}

.login-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5dbdb;
}

.login-container {
    width: 360px;
    padding: 40px;
    border-radius: 14px;
    background: #ffffff;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
}

.login-logo {
    width: 150px;
    margin-bottom: 25px;
}


.login-input {
    width: 94%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
    background: #fafafa;
}

.login-input:focus {
    outline: none;
    border-color: #444;
    background: #fff;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}


.login-error {
    color: #d00000;
    font-size: 14px;
    margin-bottom: 10px;
}


.login-button {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
}

.login-button:hover {
    background: #000;
}


.login-right {
    width: 50%;
    overflow: hidden;
    position: relative;
    background: #000;
}

.login-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    image-rendering: auto;
    transform: translateZ(0);
}


.login-right::after {
    display: none;
}