.register-page {
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
}

.register-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5dbdb;
}

.register-container {
    width: 360px;
    padding: 40px;
    border-radius: 14px;
    background: #ffffff;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
}

.register-container h1 {
    margin-bottom: 8px;
}

.register-container h2 {
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 16px;
    color: #555;
}

.register-input {
    width: 94%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
    background: #fafafa;
}

.register-input:focus {
    outline: none;
    border-color: #444;
    background: #fff;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

.register-error {
    color: #d00000;
    font-size: 14px;
    margin-bottom: 10px;
}

.register-right {
    width: 50%;
    overflow: hidden;
    position: relative;
    background: #000;
}

.register-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    image-rendering: auto;
    transform: translateZ(0);
}

.register-right::after {
    display: none;
}

@media (max-width: 768px) {

    .register-page {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }


    .register-right {
        display: none;
    }


    .register-left {
        width: 100%;
        padding: 40px 20px;
        background: #f4f6f8;
    }

    .register-container {
        width: 100%;
        max-width: 400px;
        padding: 30px;
        margin: auto;
    }

    .register-container h1 {
        font-size: 24px;
    }

    .register-container h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .register-input {
        width: 100%;
    }

}